{% extends 'base.html.twig' %}

{% block title %}Новая компанию{% endblock %}

{% block body %}

    <div class="container js-company-module">

        <h1>Добавить компанию</h1>

        {{ include('client/company/_form.html.twig') }}

        <a href="{{ path('client_company_index') }}">Назад</a>

    </div>

{% endblock %}