{% extends 'base.html.twig' %}

{% block title %}Редактировать{% endblock %}

{% block body %}

    <div class="container js-drive-module">
        <h4>Редактировать </h4>

        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}

        {{ include('drive/_form_new.html.twig') }}
        {{ include('drive/_delete_form.html.twig') }}
        <br>
        <a href="{{ path('auth_user_show_declaration') }}">Назад</a>
    </div>

{% endblock %}