{% extends 'base.html.twig' %}

{% block title %}Новый диск{% endblock %}

{% block body %}

    <div class="container js-drive-module">
        <h4>Добавить диск</h4>

        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}

        {{ include('drive/_form_new.html.twig') }}

        <a href="{{ path('client_company_index') }}">Назад</a>
    </div>

{% endblock %}