{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>ЛИЧНЫЙ КАБИНЕТ</h1>

        <a href="{{ path('client_company_new') }}">Добавить компанию</a>

    </div>

{% endblock %}