{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">Имя пользователя или пароль</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Обновить пароль</button>
    </div>
</form>
