{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {{ form_start(form, {'action': path('client_price_load', {'id': company.id}), 'method': 'POST'}) }}

            {{ form_row(form.path) }}

            <div>
                <button type="submit">Загрузить прайс</button>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}