{% extends 'base.html.twig' %}

{% block body %}

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container js-country-module">
        {{ include('country/_form.html.twig') }}
    </div>

{% endblock %}
