html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* значение высоты #footer*/
}

#navbar {
    background-color:#f90;
}
#navbar .btn {
    border:0px solid transparent;
}
#navbar .btn-default.focus, #navbar .btn-default:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#navbar li.nav-item a {
    font-weight:700;
    color:#333;
}
#navbar li.nav-item a:hover {
    color:#fff;
}
#navbar a.dropdown-item {
    font-weight:400 !important;
}
#navbar button.dropdown-toggle-split {
    background-color:transparent;
}
#navbar button.dropdown-toggle-split:hover {
    color:#fff;
}
#navbar button.dropdown-toggle-split:active {
    outline:none;
}

.pagination ul {
    margin: 0px; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

.pagination li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #F0F0E9;
}