{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <p><a href="{{ path('part_new') }}">Добавить обявление запчасти</a></p>
        <p><a href="{{ path('tyre_new') }}">Добавить обявление шины</a></p>
        <p><a href="{{ path('drive_new') }}">Добавить обявление диски</a></p>

        <a href="{{ path('client_company_index') }}">Назад</a>
    </div>

{% endblock %}