{% extends 'base.html.twig' %}

{% block body %}

    <div class="container js-user-module">

        <h4>Настройки профиля {{ user.username }}</h4>

        {{ include('client/user/_form.html.twig') }}

        <a href="{{ path('auth_user_personal', {'id': user.id}) }}">Назад</a>

    </div>

{% endblock %}