{% extends 'base.html.twig' %}

{% block body %}

    <div class="container js-user-module">

        <h3>Редактировать профиль {{ user.username }}</h3>

        {{ include('client/user/_form.html.twig') }}

        <a href="{{ path('client_company_index') }}">Назад</a>

    </div>

{% endblock %}