{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h4>Ваши обявления</h4>

        {{ include('client/user/_form.html.twig') }}

        <a href="{{ path('client_company_index') }}">Назад</a>

    </div>

{% endblock %}