{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    {#{{ form_start(form) }}#}
        {#{{ form_row(form.price) }}#}
    {#{{ form_end(form) }}#}

    <form action="{{ path('price_load') }}" name="price" method="post" enctype="multipart/form-data">
        <div>
            <label for="price_price" class="required">Price</label>
            <input type="file" id="price_price" name="price[price][]" required="required" accept="image/*" multiple="multiple" />
        </div>
        <div>
            <button type="submit" id="price_save" name="price[save]">Load</button>
        </div>
    </form>

{% endblock auth_user_content %}