{% extends 'base.html.twig' %}

{% block title %}Редактировать{% endblock %}

{% block body %}

    <div class="container">
        <h4>Редактировать </h4>

        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}

        {{ include('tyre/_form_new.html.twig') }}
        {#{{ include('client/company/_delete_form.html.twig') }}#}
        <br>
        <a href="{{ path('client_user_index_show_all') }}">Назад</a>

        {#<form id="fileupload" method="post" action="" enctype="multipart/form-data">#}
            {#<div id="drop">#}
                {#Drop Here#}

                {#<a>Browse</a>#}
                {#<input type="file" name="upl" multiple />#}
            {#</div>#}

            {#<ul>#}
                {#<!-- The file uploads will be shown here -->#}
            {#</ul>#}

        {#</form>#}

    </div>

{% endblock %}