{% extends 'base.html.twig' %}

{% block title %}Новая шина{% endblock %}

{% block body %}

    <div class="container js-tyre-module">
        <h4>Добавить шины</h4>

        {{ include('tyre/_form_new.html.twig') }}

        <a href="{{ path('client_company_index') }}">Назад</a>
    </div>

{% endblock %}