<form action="{{ path('news_edit') }}" method="post">
    <input name="id" type="hidden" value="{{ item.id }}">
    <input name="uid" type="hidden" value="{{ item.uid }}">
    <table>
        <tbody>
        <tr>
            <td>название <input name="name" type="text"></td>
            <td>компания <input name="company" type="text"></td>
        </tr>
        <tr>
            <td>тип новости <input name="type_news" type="text"></td>
            <td>дата <input name="created_at" type="text"></td>
        </tr>
        <tr>
            <td>показывать <input name="display" type="checkbox"></td>
            <td>показывать на главной <input name="display_on_main" type="checkbox"></td>
        </tr>
        <tr>
            <td>текст <textarea></textarea></td>
        </tr>
        <tr>
            <td>title <input name="title" type="text"></td>
        </tr>
        <tr>
            <td><input value="Сохранить" type="submit"></td>
        </tr>
        </tbody>
    </table>
</form>