{% extends 'layout.html.twig' %}

{% block auth_user_content %}

<div>
    <table id="tbl">
        <thead>
            <tr>
                <th>ID</th>
                <th>&nbsp</th>
                <th>название</th>
                <th>title</th>
                <th>url</th>
                <th>дата</th>
                <th>тип новости</th>
                <th>компания</th>
                <th>&nbsp</th>
                <th>&nbsp</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            {% for item in news %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(news) }}
    </div>

</div>

{% endblock auth_user_content %}