{% extends 'layout.html.twig' %}

{% block auth_user_content %}

    <div class="wrapper">
        <div class="main_menu"></div>
        <div class="content">

            <form action="{{ path('news_create') }}" method="post">
                <table>
                    <tbody>
                    <tr>
                        <td>название <input name="name" type="text"></td>
                        <td>компания <input name="company" type="text"></td>
                    </tr>
                    <tr>
                        <td>тип новости <input name="type_news" type="text"></td>
                        <td>дата <input name="created_at" type="datetime-local"></td>
                        <td>показывать <input name="display" type="checkbox"></td>
                        <td>показывать на главной <input name="display_on_main" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>текст <textarea></textarea></td>
                    </tr>
                    <tr>
                        <td><input value="Сохранить" type="submit"></td>
                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>

    <div>
        <span>SEO</span>
        <input name="title" value="">
        <input name="url" value="">
    </div>

    {% block javascripts %}
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
        <script>tinymce.init({ selector:'textarea' });</script>
    {% endblock %}

{% endblock auth_user_content %}